{% extends "base.html" %}

{% block main_area %}




<div class="container" style="margin: 0px; padding: 0px;">
    <div class="row mx-auto">

        {% for post in posts.object_list %}
        <div class="col-4 col-sm-4 col-md-4 col-lg-4" style="margin: 0% 0%; padding: 0% 0%;">


                <!-- <div class="thumbnail" style="width: 100%;"> -->
                    <a href="{{ post.get_absolute_url }}">
                        <img class="img-fluid rounded" src="{{ post.image_thumbnail.url }}" alt="{{ post.title }} image">
                    </a>

                <!-- </div> -->
            </div>
        {% endfor %}

    </div>




    
    <div class="mx-auto">
        {% if posts.paginator.num_pages > 1 %}
        <br>
        <div class="text-center">
            {% for pg in posts.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn sm {% if posts.number == pg %}active{% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>


    <br>
</div>
{% endblock %}