{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>계정생성</h4>
        </div>

    </div>
    <form method="post" class="post-form" action="{% url 'teachcom:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}

        <div class="form-group">
            <label for="first_name">이름</label>
            <input autofocus type="text" class="form-control" name="first_name" id="first_name"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>

        <div class="form-group">
            <label for="username">로그인 ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>

        <div class="form-group">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>

        <div class="form-group">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>

        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>


        <div class="form-group">
            <label for="birth_date">생년월일</label>
            <input type="date" class="form-control" name="birth_date" id="birth_date"
                   value="{{ form.birth_date.value|default_if_none:'' }}"
                   style="width:200px; margin:auto;">
        </div>


        <div class="form-group">
            <label for="nickname">닉네임</label>
            <input type="text" class="form-control" name="nickname" id="nickname"
                   value="{{ form.nickname.value|default_if_none:'' }}">
        </div>




        <div class="form-group">
            <label>성별</label><br>

            <label for="man">남자</label>
            <input type="radio" name="age" id="man"
                   value="{{ form.age.value|default_if_none:'0' }}">
            <label for="woman">여자</label>
            <input type="radio" name="age" id="woman"
                   value="{{ form.age.value|default_if_none:'1' }}">
            <label for="goman">고자</label>
            <input type="radio" name="age" id="goman"
                   value="{{ form.age.value|default_if_none:'2' }}">
        </div>


        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>
{% endblock %}


