{% extends "base.html" %}
{% block content %}

<script>
function validateForm() {
    alert("111111");
  let x = document.forms["first_form"]["username"].value;
  if (x == "") {
    alert("Name must be filled out");
    return false;
  }
    alert("222222");

  let y = document.forms["first_form"]["password1"].value;
  if (y == "")
  {
    alert("Passwd must be filled out");
    return false;
  }

  if( first_id_overlap_check() == false)
  {
      alert("아이디 중복체크를 다시 해주시기 바랍니다.");
      return false;
  }
  else{

        return true;
  }
}

function first_id_overlap_check() {

  if ($('.username_input').attr("check_result") == "fail"){
    alert("아이디 중복체크를 해주시기 바랍니다.");
    $('.username_input').focus();
    return false;
  }
}

function id_overlap_check() {

$('.username_input').change(function () {
  $('#id_check_sucess').hide();
  $('.id_overlap_button').show();
  $('.username_input').attr("check_result", "fail");
})

if ($('.username_input').val() == '') {
  alert('ID를 입력하세요.')
  return;
}

id_overlap_input = document.querySelector('input[name="username"]');

$.ajax({
  url: "{% url 'common:id_overlap_check' %}",
  data: {
    'username': id_overlap_input.value
  },
  datatype: 'json',
  success: function (data) {
    console.log(data['overlap']);
    if (data['overlap'] == "fail") {
      alert("이미 존재하는 ID 입니다.");
      id_overlap_input.focus();
      return;
    } else {
      alert("사용가능한 ID 입니다.");
      $('.username_input').attr("check_result", "success");
      $('#id_check_sucess').show();
      $('.id_overlap_button').hide();
      return;
    }
  }
});
}
</script>

<div class="container my-7" style="text-align:center; width:400px; margin:auto;">
    <div class="row my-3">
        <div class="col-15">
            <h4>회원가입</h4>
            <h7>* ID 중복확인 만들기. *
                빨간 문구/ 에러메세지 띄우기.
            </h7>
        </div>
    </div>


    <form name="first_form" method="post"  onsubmit="return validateForm()"  class="post-form" action="{% url 'common:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}

        <div class="form-group">
            <label for="username">ID :</label>
<!--                        <input autofocus type="text" name="username" id="username"-->
<!--                               value="{{ form.username.value|default_if_none:'' }}"-->
<!--                               style="text-align:center; width:160px; margin:auto;">-->
            <input autofocus type="text" check_result="fail" class="username_input" id="username" name="username" check_result="fail" required/>
            <button type="button" class="id_overlap_button" onclick="id_overlap_check()">중복검사</button>
            <img id="id_check_sucess" style="display: none;">

        </div>

        <div class="form-group">
            <label for="password1">passwore :</label>
            <input type="password" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}"
                   style="text-align:center; width:160px; margin:auto;">
        </div>
        <div class="form-group">
            <label for="password2">passwore 확인 :</label>
            <input type="password" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}"
                   style="text-align:center; width:160px; margin:auto;">
        </div>



<!--        <div class="form-group">-->
<!--            <label for="first_name">name :</label>-->
<!--            <input type="text" name="first_name" id="first_name"-->
<!--                   value="{{ form.username.value|default_if_none:'' }}"-->
<!--                   style="text-align:center; width:160px; margin:auto;">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="birth_date">생년월일 :</label>-->
<!--            <input type="date" name="birth_date" id="birth_date"-->
<!--                   value="{{ form.birth_date.value|default_if_none:'' }}"-->
<!--                   style="text-align:center; width:160px; margin:auto;">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="gender2">성별 :</label>-->
<!--            <select name="gender2" id="gender2">-->
<!--                <option value="남자" selected>-&#45;&#45;선택하기-&#45;&#45;</option>-->
<!--                <option value="남자">남자</option>-->
<!--                <option value="여자">여자</option>-->
<!--                <option value="고자">고자</option>-->
<!--                <option value="중성자">중성자</option>-->
<!--                <option value="양성자">양성자</option>-->
<!--                <option value="뉴클리어">뉴클리어</option>-->
<!--                <option value="에일리언">에일리언</option>-->
<!--                <option value="프레데터">프레데터</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="email">E-mail :</label>-->
<!--            <input type="text" name="email" id="email"-->
<!--                   value="{{ form.email.value|default_if_none:'' }}"-->
<!--                   style="text-align:center; width:160px; margin:auto;">-->
<!--        </div>-->


<!--        <div class="form-group">-->
<!--            <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>-->
<!--            <input type="text" name="postcode" id="postcode" placeholder="우편번호"-->
<!--                   value="{{ form.postcode.value|default_if_none:'' }}">-->

<!--            <input type="text" name="roadAddress" id="roadAddress" placeholder="도로명주소"-->
<!--                   value="{{ form.roadAddress.value|default_if_none:'' }}">-->

<!--            <input type="text" name="jibunAddress" id="jibunAddress" placeholder="지번주소"-->
<!--                   value="{{ form.jibunAddress.value|default_if_none:'' }}">-->

<!--            <span id="guide" style="color:#999;display:none"></span>-->

<!--            <input type="text" name="detailAddress" id="detailAddress" placeholder="상세주소"-->
<!--                   value="{{ form.detailAddress.value|default_if_none:'' }}">-->

<!--            <input type="text" name="extraAddress" id="extraAddress" placeholder="참고항목"-->
<!--                   value="{{ form.extraAddress.value|default_if_none:'' }}">-->
<!--        </div>-->

<!--        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>-->

<!--        <script>-->
<!--    function execDaumPostcode() {-->
<!--        new daum.Postcode({-->
<!--            oncomplete: function(data) {-->
<!--                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.-->

<!--                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.-->
<!--                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.-->
<!--                var roadAddr = data.roadAddress; // 도로명 주소 변수-->
<!--                var extraRoadAddr = ''; // 참고 항목 변수-->

<!--                // 법정동명이 있을 경우 추가한다. (법정리는 제외)-->
<!--                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.-->
<!--                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){-->
<!--                    extraRoadAddr += data.bname;-->
<!--                }-->
<!--                // 건물명이 있고, 공동주택일 경우 추가한다.-->
<!--                if(data.buildingName !== '' && data.apartment === 'Y'){-->
<!--                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);-->
<!--                }-->
<!--                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.-->
<!--                if(extraRoadAddr !== ''){-->
<!--                    extraRoadAddr = '(' + extraRoadAddr + ')';-->
<!--                }-->

<!--                // 우편번호와 주소 정보를 해당 필드에 넣는다.-->
<!--                document.getElementById('postcode').value = data.zonecode;-->
<!--                document.getElementById("roadAddress").value = roadAddr;-->
<!--                document.getElementById("jibunAddress").value = data.jibunAddress;-->

<!--                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.-->
<!--                if(roadAddr !== ''){-->
<!--                    document.getElementById("extraAddress").value = extraRoadAddr;-->
<!--                } else {-->
<!--                    document.getElementById("extraAddress").value = '';-->
<!--                }-->

<!--                var guideTextBox = document.getElementById("guide");-->
<!--                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.-->
<!--                if(data.autoRoadAddress) {-->
<!--                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;-->
<!--                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';-->
<!--                    guideTextBox.style.display = 'block';-->

<!--                } else if(data.autoJibunAddress) {-->
<!--                    var expJibunAddr = data.autoJibunAddress;-->
<!--                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';-->
<!--                    guideTextBox.style.display = 'block';-->
<!--                } else {-->
<!--                    guideTextBox.innerHTML = '';-->
<!--                    guideTextBox.style.display = 'none';-->
<!--                }-->
<!--            }-->
<!--        }).open();-->
<!--    }-->



<!--        </script>-->


        <!--        <div class="form-group">-->
        <!--            <label for="address">주소</label>-->
        <!--            <input type="text" class="form-control" name="address" id="address"-->
        <!--                   value="{{ form.address.value|default_if_none:'' }}">-->
        <!--        </div>-->


<!--        <div class="form-group">-->
<!--            <label for="phone">phone :</label>-->
<!--            <input type="tel" name="phone" id="phone"-->
<!--                   value="{{ form.phone.value|default_if_none:'' }}"-->
<!--                   style="text-align:center; width:160px; margin:auto;">-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary" onclick="first_id_overlap_check()">생성하기</button>
    </form>
</div>
{% endblock %}



