{% extends "base_full_width.html" %}
{% load static %}

{% block main_area %}

    <section>
        <div class="container mt-4">
            <div class="row mx-auto">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <h1> VERITAS (ID) </h1>
                    <br/>
                    <li>이름 username</li>
                    <li>slug</li>
                    <li>웹 사이트 주소 홍보</li>
                    <p class="lead">
                        자기소개 란 입니다.<br/>
                        텍스트 적는곳 길이를 지정합시다.
                    </p>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <img class="img-fluid" src="{% static 'single_pages/images/엠블럼.jpg' %}">
                </div>
            </div>
        </div>
    </section>

<br><br><br><br><br>

    <!-- <div class="container" style="center margin: 0px; padding: 0px;"> -->

    <div class="row mx-auto">
aaaaaaaaaaaaa
        {% for post in posts.object_list %}

        bbbbbbbbbbbbbbbb
        <div class="my_bottom_margin col-4 col-sm-4 col-md-4 col-lg-4" style="margin: 0px; padding: 0px">
            <div class="thumbnail" style="width: 100%; margin-bottom: 0%;">
                <a href="{{ post.get_absolute_url }}">
                    <img class="img-fluid rounded" src="{{ post.image.thumbnail_url }}" style="width: 100%;">
                </a>
            </div>
        </div>
        cccccccccccccccccccccccc
        {% endfor %}
dddddddddddddddddddd
    </div>

    <br><br>

    <div class="mx-auto">
        {% if photos.paginator.num_pages > 1 %}
        <br>
        <div class="text-center">
            {% for pg in photos.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn sm {% if photos.number == pg %}active{% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <br>

{% endblock %}





























    
<!-- Modal -->
<!-- <div class="modal fade" id="supercar_03" tabindex="-1" role="dialog" aria-labelledby="supercar_03ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supercar_03ModalLabel">3번 게시물 제목이여</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/고스트_블랙뱃지.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>3번 게시물 모달 내용 부분입니다.</p>
                        <button type="button" class="btn btn-light"><i class="fa-brands fa-facebook"></i> 페이스북</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->
