{% extends "base.html" %}
{% block content %}
<div class="container my-3" style="text-align:center; width:500px; margin:auto;">
    <div class="row my-3">
        <div class="col-15">
            <h4>회원가입</h4>
        </div>
    </div>



        <form method="post" class="post-form" action="{% url 'common:signup' %}">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit" class="btn btn-primary">생성하기</button>
        </form>



</div>
{% endblock %}



