{% extends "base.html" %}

{% block title %}
{% if album %}
{{ album.name }} - PLATE-STUDIO
{% else %}
See Our Photos Collection - PLATE-STUDIO
{% endif %}
{% endblock %}

{% block content %}

<br>

<section>
    <div class="container mt-4">
        <div class="row mx-auto">

            <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                <h1> VERITAS (ID) </h1>
                <br/>
                <li>이름 username</li>
                <li>slug</li>
                <li>웹 사이트 주소 홍보</li>
                <p class="lead">
                    자기소개 란 입니다.<br/>
                    텍스트 적는곳 길이를 지정합시다.
                </p>

            </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <img class="img-fluid" src="/PT/엠블럼.jpg">
            </div>
        </div>
    </div>
</section>


<br><br><br><br><br>
<div class="container" style="center margin: 0px; padding: 0px">
    <div class="row mx-auto">



        {% for photo in photos.object_list %}
        <div class="my_bottom_margin col-4 col-sm-4 col-md-4 col-lg-4" style="margin: 0px; padding: 0px">
            <div class="thumbnail" style="width: 100%; margin-bottom: 0%;">
                <a href="{{ photo.get_absolute_url }}">
                    <img src="{{ photo.image.thumb_url }}" style="width: 100%;">
                </a>
            </div>
        </div>
        {% endfor %}



    </div>
    <br><br>
    <div class="mx-auto">
        {% if photos.paginator.num_pages > 1 %}
        <br>
        <div class="text-center">
            {% for pg in photos.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn sm {% if photos.number == pg %}active{% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}