{% extends "base.html" %}

{% block title %}
{% if album %}
{{ album.name }} - PLATE-STUDIO
{% else %}
See Our Photos Collection - PLATE-STUDIO
{% endif %}
{% endblock %}

{% block content %}


<br>
<div>
    <h1 class="text-center my_title">BLACKVERI_0</h1>
    <br>
    <p class = "text-center">포토앨범 <br>사진을 등록해보세요</p>
</div>

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1> 방가방가 I'm VERITAS </h1>
                <br/>
                <p class="lead">
                    태권도, 스케이트, 피아노, 수영, 미술 기타등등 많이 배웠습니다.<br/>
                    지금은 컴퓨터 학원을 다니고 있습니다. 취업해야죠!
                </p>

                <ul>
                    <li>work experience</li>
                    <ul>
                        <li>1번 경력~~</li>
                        <li>2번 경력~~</li>
                    </ul>
                    <li>Education</li>
                    <ul>
                        <li>3번 경력~~</li>
                        <li>4번 경력~~</li>
                        <li>5번 경력~~</li>
                    </ul>
                    <li>퍼블리스</li>
                    <ul>
                        <li>6번 경력~~</li>
                        <li>7번 경력~~</li>
                        <li>8번 경력~~</li>
                    </ul>
                </ul>

                </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="/PT/엠블럼.jpg">
            </div>
        </div>
    </div>
</section>


<br><br>
<div class="container">
    <div class="row mx-auto">



        {% for photo in photos.object_list %}
        <div class="my_bottom_margin col-9 col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail" style="width: 100%; margin-bottom: 9%;">
                <a href="{{ photo.get_absolute_url }}">
                    <img src="{{ photo.image.thumb_url }}" style="width: 100%;">
                </a>
            </div>
        </div>
        {% endfor %}



    </div>
    <br><br>
    <div class="mx-auto">
        {% if photos.paginator.num_pages > 1 %}
        <br>
        <div class="text-center">
            {% for pg in photos.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn sm {% if photos.number == pg %}active{% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}