{% load socialaccount %}

<nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="/">VERITAS</a>

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blog/">
                        <i class="fa fa-camera-retro"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about_me/">
                        <i class="fa fa-star"></i>
                    </a>
                </li>

                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <a class="nav-link" href="/blog/create_post/">
                            <i class="fa fa-plus-square-o"></i>
                        </a>
                    {% endif %}
                {% endif %}

            </ul>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <img class="rounded-circle" width="40px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                            {% else %}
                            <img class="rounded-circle" width="40px" src="https://doitdjango.com/avatar/id/1013/0b6b5c1fe5cb5275/svg/{{ user.email }}">
                            {% endif %}
                            &nbsp;
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>

                        <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
                </li>
                {% endif %}
            </ul>


</nav>

   <!-- Modal -->
   <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"><i class="fa-solid fa-right-to-bracket"></i> 로그인 버튼이 생겼다</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i> Log in with Google</a>
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/"><i class="fa-regular fa-envelope"></i> Log in with Username</a>
                    </div>
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup/"><i class="fa-regular fa-envelope"></i> Sign Up with E-mail</a>
                    </div>
            
                
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>